form {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 90%;
}

.button-container {
  display: flex;
}

.random-button {
  margin-left: 10%;
}

.home-button,
.random-button {
  height: 100%;
  width: 10em;
  border-radius: 10px;
  border: none;
  font-size: 0.75em;
  cursor: pointer;
  background-color: #bd3b40;
  color: #fafafa;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.home-button:hover,
.random-button:hover {
  background-color: #c8353a;
  box-shadow: 0 0 7px rgb(0, 0, 0);
}

.home-button:active,
.random-button:active {
  background-color: #d03439;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.dropdown-container {
  display: flex;
  /* justify-content: space-between; */  
  margin-right: 9%;
  margin-left: 9%;
}

.movie-title-dropdown,
.wow-count-dropdown {
  height: 100%;
  width: 15em;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: #c1d5e0;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  cursor: pointer;
  text-overflow: ellipsis;
  outline: none;
}

.movie-title-dropdown:hover,
.wow-count-dropdown:hover {
  background-color: #c8e3f2;
  box-shadow: 0 0 7px rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  .dropdown-container {
    width: 100%;
  }

  .home-button,
.random-button {
  width: 7em;
}

.movie-title-dropdown,
.wow-count-dropdown {
  height: 100%;
  width: 8em;
}
}
