form {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
}

.home-button {
  margin-right: 5%;
}

.home-button,
.random-button {
  height: 2em;
  width: 10em;
  border-radius: 10px;
  border: none;
  font-size: 0.75em;
  cursor: pointer;
background-color: whitesmoke;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5%;
  margin-left: 5%;
}

.movie-title-dropdown {
  margin-right: 2%;
  margin-left: 5%;
}

.movie-title-dropdown,
.wow-count-dropdown {
  height: 1.8em;
  width: 15em;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: whitesmoke;
}
