iframe {
  box-shadow: 0 1px 15px 2px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

p {
  margin: 10px;
  letter-spacing: 0.05em;
}

.movie-details-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
  margin-top: 8%;
}

.poster-img {
  box-shadow: 0 1px 15px 2px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  height: 30em;
}

.trailer-and-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-details {
  text-align: center;
  background-color: #bd3b40;
  color: #fafafa;
  width: 60%;
  margin-top: 1%;
  border-radius: 10px;
  box-shadow: 0 1px 15px 2px rgba(0, 0, 0, 0.7);
}
