.movie-card-collection {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px;
  grid-row-gap: 20px;
  margin-top: 9%;
  margin-bottom: 2%;
  background-color: #fafafa;
}
