.single-movie-container {
	width: 100%;
}

.single-card-image {
	width: 90%;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	transition: 0.2s ease-in-out;
}

.single-card-image:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	/* box-shadow: 0 0 6px #d03439; */
	cursor: pointer;
    transform: scale(1.01);
}
