.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: rgba(98, 117, 127, 0.5);
  color: #fafafa;
}

.linkedinAnchor,
.githubAnchor {
  width: 13px;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(216deg)
    brightness(108%) contrast(101%);
  margin: 0px 5px 0px 5px;
}

.linkedinAnchor:hover,
.githubAnchor:hover {
  filter: invert(0%) sepia(87%) saturate(7500%) hue-rotate(43deg) brightness(94%) contrast(96%);
}

.personContainer {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-right: 2%;
}

.name {
  text-shadow: 0 1px #af4448;
  cursor: default;
}

