.error-page-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #62757f;
  padding: 1%;
  overflow: hidden;
}

.error-face-and-bubble-container {
  display: flex;
  align-items: center;
  /* width: 95%; */
  margin-top: 10%;
}

.error-wilson {
  width: 55%;
  border-radius: 50px;
  box-shadow: 0 0 25px rgb(0, 0, 0);
  /* margin-left: 1.5%; */
}

.error-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1d5e0;
  width: 100%;
  margin-left: 1.5%;
  border-radius: 0.5em 0.5em 0.5em 0;
  font-size: 2.25em;
  box-shadow: 3px 3px 5px 3px black;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  transform: translateY(-6.5em);
}

.error-container-for-button {
  position: absolute;
  top: 50%;
  right: 23%;
}

.error-go-to-movies-button {
  height: 2em;
  width: 100%;
  border-radius: 20px;
  border: none;
  font-size: 1.25em;
  cursor: pointer;
  background-color: #bd3b40;
  color: #fafafa;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.error-go-to-movies-button:hover {
  background-color: #c8353a;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

.error-go-to-movies-button:active {
  background-color: #d03439;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

@media screen and (max-width: 1500px) {
  .error-wilson {
    width: 65%;
  }

  .error-bubble {
    width: 90%;
    margin-left: 2.5%;
    margin-right: 1.5%;
    font-size: 2.5em;
  }

  .error-container-for-button {
    right: 20%;
  }
}

@media screen and (max-width: 1200px) {
  .error-page-container {
    padding: 2%;
  }

  .error-wilson {
    width: 55%;
  }

  .error-container-for-button {
    right: 14%;
  }
}

@media screen and (max-width: 600px) {
  .error-wilson {
    width: 50%;
  }

  .error-bubble {
    /* width: 60%; */
    /* margin-left: 2.5%;
    margin-right: 1.5%; */
    font-size: 1.25em;
  }

  .error-container-for-button {
    top: 45%;
    right: 14%;
  }

  .error-go-to-movies-button {
    height: 1.55em;
    font-size: 0.85em;
  }
}
